.upper-section {
    padding: 20px;
    border-radius: 10px;
}

.filters {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.filters select,
.filters input {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px var(--color-black);
    background-color: var(--color-sand);
}

.filters select {
    max-width: 150px;
}

.filters input {
    width: 200px;
}

.requests-list {
    list-style: none;
    width: 100%;
    max-width: 1000px;
}

.request-item {
    border: solid 1px var(--color-black);
    background: var(--color-sand);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.request-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-sand);
    color: var(--color-black);
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

.request-summary-title {
    flex: 1;
    text-align: left;
}

.request-summary-status {
    text-align: center;
    flex: 1;
}

.request-summary-date {
    text-align: right;
    flex: 1;
}

.request-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.accepted-message {
    color: green;
    font-weight: bold;
}

.button-primary:disabled {
    cursor: not-allowed;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    background: none;
    border: none;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
}

.pagination img {
    width: 24px;
    height: 24px;
}

.aside-buttons {
    display: flex;
    align-self: flex-start;
    margin-top: 10px;
    gap: 60px;
}
