.request-list {
    list-style: none;
    width: 100%;
    max-width: 1000px;
}

.request-item {
    border: solid 1px var(--color-black);
    background: var(--color-sand);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    flex-shrink: 0;
}

.request-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-sand);
    color: var(--color-black);
    font-weight: bold;
}

.request-summary-title {
    text-align: left;
}

.request-summary-status {
    text-align: center;
}

.request-summary-date {
    text-align: right;
}

.request-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.request-details label {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
}

.request-details input,
.request-details textarea,
.request-details select {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px var(--color-black);
    background-color: var(--color-sand);
    width: 100%;
    max-width: 400px;
    margin-top: 5px;
}

.request-details textarea {
    min-height: 80px;
}

.helper-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.rating-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    text-align: center;
}

.rating-label select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.file-upload {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.upload-file-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    width: 30px;
    gap: 8px;
}

.upload-file-button img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.upload-file-text {
    font-size: 16px;
}

.upload-file-message {
    color: green;
    font-weight: bold;
}

.delete-file-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    width: 30px;
    gap: 8px;
}

.delete-file-button img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.delete-file-text {
    font-size: 16px;
}

.star-icon {
    width: 30px;
    height: 30px;
}

.succes-message {
    color: green;
    font-weight: bold;
}

.error-message {
    color: var(--color-brown);
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    background: none;
    border: none;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
}

.pagination img {
    width: 24px;
    height: 24px;
}

button {
    border: none;
}