.request-list {
    list-style: none;
    width: 100%;
    max-width: 1000px;
}

.request-item {
    border: solid 1px var(--color-black);
    background: var(--color-sand);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.request-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-sand);
    color: var(--color-black);
    font-weight: bold;
}

.request-summary-title {
    text-align: left;
}

.request-summary-status {
    text-align: center;
}

.request-summary-date {
    text-align: right;
}

.request-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.request-details label {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
}

.request-details input,
.request-details textarea,
.request-details select {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px var(--color-black);
    background-color: var(--color-sand);
    width: 100%;
    max-width: 400px;
    margin-top: 5px;
}

.request-details textarea {
    min-height: 80px;
}

.request-details img {
    margin-top: 5px;
    width: 24px;
    height: 24px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    background: none;
    border: none;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
}

.update-message {
    color: green;
    font-weight: bold;
}

.review-message {
    color: green;
    font-weight: bold;
}

.error-message {
    color: var(--color-brown);
}

.pagination img {
    width: 24px;
    height: 24px;
}

button {
    border: none;
}

.aside-buttons {
    gap: 60px;
}