.upper-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signin-logo {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}

.signin-form {
    background-color: var(--color-sand);
    padding: 30px;
    border-radius: 25px;
    border: 1px solid var(--color-black);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-form form {
    width: 100%;
}

.error-message {
    color: var(--color-brown);
    font-size: 25px;
    margin-bottom: 10px;
}

.button {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

